<div class="container">
  <h1>Congrats! Product added to your cart.</h1>
</div>

<div class="container">
  <p><strong>Product name:</strong> <%= @order.product.name %></p>
  <p><img src=""></p>
  <p><strong>Email:</strong> <%= current_user.email %></p>
  <p><strong>Order Quantity:</strong> <%= @order.buy_quantity %></p>
  <p><strong>Subtotal:</strong> <%= @order.subtotal %></p>
  <p><strong>Tax:</strong> <%= @order.tax %></p>
  <p><strong>Total:</strong> <%= @order.total %></p>
</div>