<div class="container">
  <h1>Product Detail</h1>
</div>

<div class="container">
  <p><a href="/products"><button type="button" class="btn btn-primary">All Products</button></a></p>
  <p><a href="/products/<%= @product.id %>/edit"><button type="button" class="btn btn-primary">Edit Product</button></a></p>
  <p><%= link_to "Destroy Product", "/products/#{@product.id}", method: :delete, class: "btn btn-primary" %></p>
</div>

<div class="container">
  <hr>
  <%= @product.images.each do |image| %>
    <img src="<%= image.image %>" alt="<%= @product.title %>" width=300>
  <% end %>
  <p><strong>Title:</strong> <%= @product.title %></p>
  <p><strong>Price:</strong> <%= number_to_currency(@product.price) + " " + @product.sale_message %></p>
  <p><strong>Tax:</strong> <%= number_to_currency(@product.tax) %></p>
  <p><strong>Total:</strong> <%= number_to_currency(@product.total) %></p>
  <p><strong>Description:</strong> <%= @product.description %></p>
  <p><strong>Quantity:</strong> <%= @product.quantity %></p>

  <%= form_tag "/orders", method: :post do %>
    <div class="form-group">
      <%= label_tag :buy_quantity %>
      <%= text_field_tag :buy_quantity, "", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= label_tag :product_id %>
      <%= text_field_tag :product_id, "", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= submit_tag "Buy", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>